.popup {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px;
}
.content {
    position: relative;
    width: 60%;
    margin: auto;
}


.form-field {
    padding: 20px;
}

.form-field .label {
    text-align: left;
    font-weight: 600;
}